{% extends "header.html" %}

{% block body %}

<h3>Change the satus of flight</h3><br><br>

<form action="/staff/change_status" method="POST" class="col-3">
    <input type="text" class="form-control" name = "flightNum" placeholder="Flight Number" required/> </br>
    <!-- <input type="text" class="form-control" name = "airlineName" placeholder="Airline" required/> </br> -->

    <input type="date" class="form-control" name = "departDate" placeholder="Departure Date" required/> </br>
    <input type="text" class="form-control" name = "departTime" placeholder="Departure Time" required/> </br><br>

    <input class="form-check-input" type="radio" name="newStatus" id="inlineRadio1" value="On-time"></input>On-time
    <br><input class="form-check-input" type="radio" name="newStatus" id="inlineRadio1" value="Delayed" checked></input>Delayed

    <br><br>
    <input class="btn btn-primary" type="submit" value = "Update" />
</form>

{% if error %}
<br><br>
<p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}

<br><br>
<a href="/logout">Logout</a>
<a href="/as_home">Home</a>

{% endblock %}