{% extends "header.html" %}

{% block body %}
{% if name != None %}
	<h2>Welcome, {{name}}</h2>
{% endif %}
<br><br>
<a href="/staff/view_flights">View flights</a><br><br>
<a href="/staff/create_flight">Create new flights</a><br><br>
<a href="/staff/change_status">Change status of flights</a><br><br>
<a href="/staff/add_airplane">Add airplane in the system</a><br><br>
<a href="/staff/add_airport">Add new airport in the system</a><br><br>
<a href="/staff/flight_ratings">View flight ratings</a><br><br>
<a href="/staff/freq_cust">View frequent customers</a><br><br>
<a href="/staff/reports">View reports</a><br><br>
<a href="/staff/revenue">View earned revenue</a><br><br>
 
<br><br><br>
<a href="/as_home">Home</a>
<a href="/logout">Logout</a>

{% endblock %}
