{% extends "header.html" %}

{% block body %}

<h3>Customer Staff Registration:</h3>
<br>

{% for mess in get_flashed_messages()  %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
	<span aria-hidden="true">&times;</span>
  </button>
  {{mess}}
  </div>
{% endfor %}

<br>
<form action="/registerAuth_cus" method="POST">
    <div class="row">
      <div class="col">
        <input type="email" class="form-control" name = "Email" placeholder="email" required/></br>
      </div>
      <div class="col">
        <input type="password" class="form-control" name = "Password" placeholder="password" required/></br>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" name = "FirstName" placeholder="first name" required/></br>
      </div>
      <div class="col">
        <input type="text" class="form-control" name = "LastName" placeholder="last name" required/></br>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" name = "Building_num" placeholder="building number" required/></br>
      </div>
      <div class="col">
        <input type="text" class="form-control" name = "Street_name" placeholder="street name" required/></br>
      </div>
      <div class="col">
        <input type="text" class="form-control" name = "Apartment_num" placeholder="apartment num"/></br>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" name = "City" placeholder="city" required/></br>
      </div>
      <div class="col">
        <input type="text" class="form-control" name = "State" placeholder="state" required/></br>
      </div>
      <div class="col">
        <input type="text" class="form-control" name = "Zip_code" placeholder="zip code" required/></br>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" name = "Passport_num" placeholder="passport number" required/></br>
      </div>
      <div class="col">
        <input type="text" class="form-control" name = "Passport_expiration" placeholder="passport expiration (YYYY-MM-DD)" required/></br>
      </div>
      <div class="col">
        <input type="text" class="form-control" name = "Passport_country" placeholder="passport country" required/></br>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" name = "phone_num" placeholder="phone number" required/></br>
      </div>
      <div class="col">
        <input type="text" class="form-control" name = "Date_of_birth" placeholder="date of birth (YYYY-MM-DD)" required/></br>
      </div>
    </div>
    
    <input type="submit" class="btn btn-primary" value = Register />
</form>
<a href="/">Go back</a>
{% endblock %}