{% extends "header.html" %}

{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if error %}
<br>
<p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}

<h3>Customer Login:</h3>
<br>
<form action="/loginAuth_cus" method="POST">
	<input type="text" class="form-control" name = "Email" placeholder="email" required/> </br>
	<input type="password" class="form-control" name = "Password" placeholder="password" required/></br>
	<input type="submit" class="btn btn-primary" value = Login />
</form>

{% endblock %}

