{% extends "header.html" %}

{% block body %}

<a href="/logout">Logout</a>
<a href="/cus_home">Home</a>

<h2>Track My Spending</h2>
<br>

<form class="" action="/track_spending" method="POST">
	<div class="row">
		<div class="col-4">
			<b>From</b>
		</div>
		<div class="col-4">
			<b>To</b>
		</div>
	</div>
	<div class="row">
		<div class="col-4">
			<input class="form-control" type="date" name = "from" placeholder="From"/>
		</div>
		<div class="col-4">
			<input class="form-control" type="date" name = "until" placeholder="To"/>
		</div>
	</div>
	<br><br>
	<input class="btn btn-primary" type="submit" value = "Track" />
</form>
<br><br> 

<h3>Total Spent from {{from_date}} to {{until_date}}: ${{total_cost['sum(Base_ticket_price)']}}</h3>

<table class = "table">
    <th>Month</th>
    <th>Amount Spent($)</th>
    {% for row in data_over_months %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{(row[1])}}</td>
        </tr>
    {% endfor %}
 </table>



{% endblock %}